<!DOCTYPE html>
<html lang="en">
  <head>
    <div class= "pgtxt" >
    <title>Ruby on Rails</title>
  </head>
  <body>
    <div class="header">
      <div>
    <div class="container-fluid">
      <h1 class="text-center">About me</h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <p>
              I am a father of 2 amazing childern, and when I'm not spending time with them, I am always doing something on the computer. I have always been driven to creating things online. Some of the things I have done include.
              <ul>
                <li>Managing custom websites for gaming communities, and development on game servers.</li>
                <li>Consulted on implimentation of a client server network and system.</li>
              </ul>
            </p>
            <p>
              Course work I have completed include the following languages:
              <ul>
                <li>Ruby on Rails (in progress)</li>
                <li>Visual Basic</li>
                <li>SQL</li>
                <li>C++</li>
                <li>Java</li>
                <li>HTML/CSS</li>
              </ul>
            </p>
            <p>
              Qualities:
            </p>
            <ul>
              <li>Completed associates degree in Computer Information Systems.</li>
              <li>Currently 9 courses away from completing my Bachelors degree in Computer Informaton Technology.</li>
              <li>Experience in troubleshooting hardware and software issues.</li>
              <li>Educated in programming concepts and database architecture.</li>
              <li>Held Secret security clearance in the military.</li>
              <li>Expert ability to learn and adapt quickly to new environments including a high tolerance for stress in conditions that require multi-tasking.</li>  
              <li>Expert experience in working in teams assigned to goal incremented tasks.</li>
               <li>Ability to remain calm and work efficiently under extreme pressure.</li>
              <li>Systems Consulting Experience.</li>
            </ul>
          </div>
        </div>
        
        <div class="footer">
      </div>
    </div>
    </div>
   </body>
</html>