<!DOCTYPE html>
<html lang="en" class= "pgtxt" >
  
  <head>
    <div class= "pgtxt" >
    <title>Ruby on Rails</title>
  </head>
  <body>
    <div class="header">
      <div>
    <div class="container-fluid">
      <h1 class="text-center"> </h1>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <p>Hello this site is a work in progress that I am completeing in my spare time to showcase some of the development knowledge I have gained while completing the <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/">"Complete Ruby on Rails Developer Course"</a> at Udemy.com. This course has over 30 hours of instruction with multiple projects to represent the varied skills needed in the workplace today.
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          </p>
          </div>
        </div>
        
        <div class="footer">
        </div>
    </div>
    </div>
   </body>
   
</html>