


.dropdown {
    background: 0%;
}

.dropdown h1 {
    color: #ffffff;
}

.dropdown h1:hover {
    color: #000000;
    background: 0% !important;
}

.dropdown a {
    color: #ffffff !important;
}

.dropdown a:hover {
    color: #000000 !important;
    background: 0% !important;
}

.dropdown li {
    //color: #ffffff;
}

.drptxt {
    //color: #ffffff;
    //background: 0%;
}

.drptxt:hover {
    //background: 0%;
    //color: #000000;
}

.drptxt:active {
    //background: 0%;
    //color: #000000;
}

.apps {
    //color: #ffffff;
    //background: 0%;
}

.apps a:hover {
    //color: #ffffff !important;
    //background: 0%;
    //color: #000000;
}